[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
antlr4-python3-runtime = "*"
antlr4-tools = "*"

[dev-packages]
pytest = "*"
coverage = "*"

[requires]
python_version = "3"

[scripts]
unit-test = "python -m coverage run -m pytest tests"
coverage-report = "coverage report -m --fail-under=83"
